@media screen and (max-width:1000px)  {
    .top img{
        display: none;
    }
    .button1{
        margin-right: 20px;
        height: 50px;
        width: 50px;
    }
    .icons{
        display: none;
    }
    .inp{
        width: 800px;
        margin-right: 20px;
    }
    .item1,hr{
        display: none;
    }
}
@media screen and (max-width:990px) {
    .main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }
    .card{
        display: grid;
    }
    .main3{
        display: grid;
        margin: auto;
        grid-template-columns: repeat(3, 4fr);
    }
    .card2{
        margin-top: 20px;
    }
    .card5{
        height: 400px;
    }
}
@media screen and (max-width:600px){
   
    .finish div{
        display: none;
    }
    .finish{
        display: none;
    }
    .finish p{
        display: none;
    }

}